/* line 1, ../../scss/components-panel/nav.scss */
nav {
  width: 100%;
  background-color: #f99d00;
  color: #fff;
  padding: 8px 30px;
  position: absolute;
  z-index: 100;
  height: 50px;
}
/* line 9, ../../scss/components-panel/nav.scss */
nav .logo {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  background-color: #b37000;
  width: 233px;
  font-weight: bold;
  font-size: 19px;
  line-height: 50px;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
/* line 22, ../../scss/components-panel/nav.scss */
nav .logo:hover {
  letter-spacing: 4px;
}
/* line 26, ../../scss/components-panel/nav.scss */
nav button {
  float: right;
}
/* line 29, ../../scss/components-panel/nav.scss */
nav form {
  float: right;
  display: inline-block;
}
/* line 33, ../../scss/components-panel/nav.scss */
nav .login {
  padding: 0px 15px;
  margin-top: 7px;
}
