/* line 1, ../../scss/components-panel/panel-content.scss */
.panel-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 232px;
  overflow: hidden;
}
/* line 10, ../../scss/components-panel/panel-content.scss */
.panel-content .core {
  padding: 30px 30px;
}
/* line 13, ../../scss/components-panel/panel-content.scss */
.panel-content .content {
  color: #1a2226;
}
/* line 15, ../../scss/components-panel/panel-content.scss */
.panel-content .content h2 {
  margin: 0px;
  font-size: 14px;
  padding: 28px 30px;
  background-color: #1a2226;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
