/* line 5, ../../scss/components-panel/sidebar.scss */
.sidebar {
  height: 100%;
  width: 233px;
  position: absolute;
  padding-top: 50px;
  margin-top: -50px;
  z-index: 4;
}
/* line 12, ../../scss/components-panel/sidebar.scss */
.sidebar .sidebar-box {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #222d32;
}
/* line 18, ../../scss/components-panel/sidebar.scss */
.sidebar .sidebar-top {
  color: #4b646f;
  position: relative;
  background-color: #1a2226;
  padding: 11px 15px;
  font-size: 11px;
}
/* line 25, ../../scss/components-panel/sidebar.scss */
.sidebar .sidebar {
  height: 100%;
  width: 250px;
  position: absolute;
  padding-top: 64px;
  margin-top: -64px;
  z-index: 4;
}
/* line 33, ../../scss/components-panel/sidebar.scss */
.sidebar .sidebar-nav {
  display: block;
  padding-left: 0px;
  color: #b8c7ce;
}
/* line 37, ../../scss/components-panel/sidebar.scss */
.sidebar .sidebar-nav a {
  padding: 12px 15px;
  display: block;
  font-size: 13px;
  color: #bbcbd7;
  font-weight: 600;
}
