nav {
    width: 100%;
    background-color: #f99d00;
    color:#fff;
    padding: 8px 30px;
    position: absolute;
    z-index: 100;
    height: 50px;
    .logo {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 50px;
        background-color: #b37000;
        width: 233px;
        font-weight: bold;
        font-size: 19px;
        line-height: 50px;
        text-transform: uppercase;
        transition:0.3s;
        cursor:pointer;
        &:hover {
            letter-spacing:4px;
        }
    }
    button {
        float:right;
    }
    form {
        float:right;
        display:inline-block;
    }
    .login {
        padding: 0px 15px;
        margin-top: 7px;
    }
}	
