.panel-content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left: 232px;
    overflow: hidden;
    .core {
        padding: 30px 30px;
    }
    .content {
        color:#1a2226;
        h2{
            margin: 0px;
            font-size: 14px;
            padding: 28px 30px;
            background-color: #1a2226;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}
