$darker-background : #1a2226;
$darker-color : #4b646f;
$color : #b8c7ce;
$lighter-background: #222d32;
.sidebar {
    height: 100%;
    width: 233px;
    position: absolute;
    padding-top: 50px;
    margin-top: -50px;
    z-index: 4;
    .sidebar-box {
        width:100%;
        height:100%;
        position:relative;
        background-color:$lighter-background;
    }
    .sidebar-top {
        color: $darker-color;
        position: relative;
        background-color: $darker-background;
        padding: 11px 15px;
        font-size: 11px;
    }
    .sidebar{
        height: 100%;
        width: 250px;
        position: absolute;
        padding-top: 64px;
        margin-top: -64px;
        z-index:4;
    }
    .sidebar-nav {
        display: block;
        padding-left: 0px;
        color:$color;
        a {
            padding: 12px 15px;
            display: block;
            font-size: 13px;
            color: #bbcbd7;
            font-weight: 600;
        }
    }
}