@import "compass/css3";

.default-box {
    position: absolute;
    width: 500px;
    background-color: #fff;
    box-shadow: 0px 2px 12px 0px #ccc;
    left: 50%;
    top: 12%;
    max-width: 100%;
    @include transform(translate(-50%,0%));
}
.clearfix {
	display:block;
	clear:both;
	content:' ';
	width:100%;
}
.default-box h4 {
	    background-color: #222d32;
    padding: 13px 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    margin-bottom:0px;
    margin-top:0px;
}
.default-box .box {
	padding: 40px;
}
.default-button {
	padding: 6px 15px;
    background-color: #222d32;
    border:1px solid #222d32;
    color: #fff;
    transition:0.3s;
    display:inline-block;
}
.default-button.r {
	background-color:#8a090a;
	border:1px solid #8a090a;
}
.default-button:hover {
	text-decoration:none;
}
.default-button.r:hover {
	color:#8a090a;
	background-color:#fff;	
}

/* form */

form form-group {
	margin-bottom:15px;
}
form input {
	padding:10px 15px;
	width:100%;
	border:1px solid #222d32;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color:#222d32;
    font-weight: 600;
}
.display-inline-block {
    display:inline-block;
}
form button {
	padding: 6px 15px;
    background-color: #222d32;
    border:1px solid #222d32;
    color: #fff;
    transition:0.3s;
}
a.default {
    padding: 6px 15px;
    background-color: #222d32;
    border:1px solid #222d32;
    color: #fff;
    transition:0.3s;
    display:inline-block;
    &.green {
        background-color:#165f14;
    }
}
form select{
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #222d32;
    background-color: #fff;
}
form textarea {
	    padding: 10px 15px;
    width: 100%;
    border: 1px solid #222d32;
}

form button:hover {
	color:#222d32;
	background-color:#fff;
}