.panel-container {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    margin-top: 0px;
}
.panel-container .box {
	width:100%;
	position:relative;
	height:100%;
	background-color:#222d32;
}
table {
	thead {
	    background-color: #222d32;
		color: #fff;
	}
	tr {
		td {
			vertical-align: middle !important;
		}
	}
}

body {
	height:100%;
	position:relative;
}
html {
	height:100%;
	position:relative;
}
@import "./components-panel/sidebar";
@import "./components-panel/nav";