body { 
	background-color:#fafafa;
    font-family: 'Open Sans', sans-serif;
    color:#bbcbd7;
}
footer {
	    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background-color: #222d32;
    padding: 50px 15px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
}
.login-box {
    position: absolute;
    width: 500px;
    background-color: #fff;
    box-shadow: 0px 2px 12px 0px #ccc;
    left: 50%;
    top: 12%;
    max-width: 100%;
    transform: translate(-50%,0%);
}
.action {
    form {
        display:inline-block;
    }
}
.login-box h4 {
	    background-color: #222d32;
    padding: 13px 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    margin-bottom:0px;
    margin-top:0px;
}
.login form {
	padding: 40px;
}
.login form form-group {
	margin-bottom:15px;
}
.login form input {
	padding:10px 15px;
	width:100%;
	border:1px solid #222d32;
}
form label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color:#222d32;
    font-weight: 600;
}
form button {
	padding: 6px 15px;
    background-color: #222d32;
    border:1px solid #222d32;
    color: #fff;
    transition:0.3s;
}
form button:hover {
	color:#222d32;
	background-color:#fff;
}
@import "./components-panel/panel-content";