/* line 3, ../scss/components.scss */
.default-box {
  position: absolute;
  width: 500px;
  background-color: #fff;
  box-shadow: 0px 2px 12px 0px #ccc;
  left: 50%;
  top: 12%;
  max-width: 100%;
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

/* line 13, ../scss/components.scss */
.clearfix {
  display: block;
  clear: both;
  content: ' ';
  width: 100%;
}

/* line 19, ../scss/components.scss */
.default-box h4 {
  background-color: #222d32;
  padding: 13px 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* line 29, ../scss/components.scss */
.default-box .box {
  padding: 40px;
}

/* line 32, ../scss/components.scss */
.default-button {
  padding: 6px 15px;
  background-color: #222d32;
  border: 1px solid #222d32;
  color: #fff;
  transition: 0.3s;
  display: inline-block;
}

/* line 40, ../scss/components.scss */
.default-button.r {
  background-color: #8a090a;
  border: 1px solid #8a090a;
}

/* line 44, ../scss/components.scss */
.default-button:hover {
  text-decoration: none;
}

/* line 47, ../scss/components.scss */
.default-button.r:hover {
  color: #8a090a;
  background-color: #fff;
}

/* form */
/* line 54, ../scss/components.scss */
form form-group {
  margin-bottom: 15px;
}

/* line 57, ../scss/components.scss */
form input {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #222d32;
}

/* line 62, ../scss/components.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  color: #222d32;
  font-weight: 600;
}

/* line 69, ../scss/components.scss */
.display-inline-block {
  display: inline-block;
}

/* line 72, ../scss/components.scss */
form button {
  padding: 6px 15px;
  background-color: #222d32;
  border: 1px solid #222d32;
  color: #fff;
  transition: 0.3s;
}

/* line 79, ../scss/components.scss */
a.default {
  padding: 6px 15px;
  background-color: #222d32;
  border: 1px solid #222d32;
  color: #fff;
  transition: 0.3s;
  display: inline-block;
}
/* line 86, ../scss/components.scss */
a.default.green {
  background-color: #165f14;
}

/* line 90, ../scss/components.scss */
form select {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #222d32;
  background-color: #fff;
}

/* line 96, ../scss/components.scss */
form textarea {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #222d32;
}

/* line 102, ../scss/components.scss */
form button:hover {
  color: #222d32;
  background-color: #fff;
}
