/* line 1, ../scss/panel.scss */
.panel-container {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  margin-top: 0px;
}

/* line 10, ../scss/panel.scss */
.panel-container .box {
  width: 100%;
  position: relative;
  height: 100%;
  background-color: #222d32;
}

/* line 17, ../scss/panel.scss */
table thead {
  background-color: #222d32;
  color: #fff;
}
/* line 22, ../scss/panel.scss */
table tr td {
  vertical-align: middle !important;
}

/* line 28, ../scss/panel.scss */
body {
  height: 100%;
  position: relative;
}

/* line 32, ../scss/panel.scss */
html {
  height: 100%;
  position: relative;
}

/* line 5, ../scss/components-panel/sidebar.scss */
.sidebar {
  height: 100%;
  width: 233px;
  position: absolute;
  padding-top: 50px;
  margin-top: -50px;
  z-index: 4;
}
/* line 12, ../scss/components-panel/sidebar.scss */
.sidebar .sidebar-box {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #222d32;
}
/* line 18, ../scss/components-panel/sidebar.scss */
.sidebar .sidebar-top {
  color: #4b646f;
  position: relative;
  background-color: #1a2226;
  padding: 11px 15px;
  font-size: 11px;
}
/* line 25, ../scss/components-panel/sidebar.scss */
.sidebar .sidebar {
  height: 100%;
  width: 250px;
  position: absolute;
  padding-top: 64px;
  margin-top: -64px;
  z-index: 4;
}
/* line 33, ../scss/components-panel/sidebar.scss */
.sidebar .sidebar-nav {
  display: block;
  padding-left: 0px;
  color: #b8c7ce;
}
/* line 37, ../scss/components-panel/sidebar.scss */
.sidebar .sidebar-nav a {
  padding: 12px 15px;
  display: block;
  font-size: 13px;
  color: #bbcbd7;
  font-weight: 600;
}

/* line 1, ../scss/components-panel/nav.scss */
nav {
  width: 100%;
  background-color: #f99d00;
  color: #fff;
  padding: 8px 30px;
  position: absolute;
  z-index: 100;
  height: 50px;
}
/* line 9, ../scss/components-panel/nav.scss */
nav .logo {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  background-color: #b37000;
  width: 233px;
  font-weight: bold;
  font-size: 19px;
  line-height: 50px;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
/* line 22, ../scss/components-panel/nav.scss */
nav .logo:hover {
  letter-spacing: 4px;
}
/* line 26, ../scss/components-panel/nav.scss */
nav button {
  float: right;
}
/* line 29, ../scss/components-panel/nav.scss */
nav form {
  float: right;
  display: inline-block;
}
/* line 33, ../scss/components-panel/nav.scss */
nav .login {
  padding: 0px 15px;
  margin-top: 7px;
}
