/* line 1, ../scss/style.scss */
body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  color: #bbcbd7;
}

/* line 6, ../scss/style.scss */
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  background-color: #222d32;
  padding: 50px 15px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
}

/* line 18, ../scss/style.scss */
.login-box {
  position: absolute;
  width: 500px;
  background-color: #fff;
  box-shadow: 0px 2px 12px 0px #ccc;
  left: 50%;
  top: 12%;
  max-width: 100%;
  transform: translate(-50%, 0%);
}

/* line 29, ../scss/style.scss */
.action form {
  display: inline-block;
}

/* line 33, ../scss/style.scss */
.login-box h4 {
  background-color: #222d32;
  padding: 13px 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* line 43, ../scss/style.scss */
.login form {
  padding: 40px;
}

/* line 46, ../scss/style.scss */
.login form form-group {
  margin-bottom: 15px;
}

/* line 49, ../scss/style.scss */
.login form input {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #222d32;
}

/* line 54, ../scss/style.scss */
form label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  color: #222d32;
  font-weight: 600;
}

/* line 61, ../scss/style.scss */
form button {
  padding: 6px 15px;
  background-color: #222d32;
  border: 1px solid #222d32;
  color: #fff;
  transition: 0.3s;
}

/* line 68, ../scss/style.scss */
form button:hover {
  color: #222d32;
  background-color: #fff;
}

/* line 1, ../scss/components-panel/panel-content.scss */
.panel-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 232px;
  overflow: hidden;
}
/* line 10, ../scss/components-panel/panel-content.scss */
.panel-content .core {
  padding: 30px 30px;
}
/* line 13, ../scss/components-panel/panel-content.scss */
.panel-content .content {
  color: #1a2226;
}
/* line 15, ../scss/components-panel/panel-content.scss */
.panel-content .content h2 {
  margin: 0px;
  font-size: 14px;
  padding: 28px 30px;
  background-color: #1a2226;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
